/*舞台*/
.stage{
    position: relative;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
}

.stage.mobile{
    width: 100%;
    height: 100%;
}

/*舞台上的角色*/
.role{
    position: absolute;
    top: 0px;
    left: 0px;
}